<div class="app-title-div">{{ app_name }}</div>
<mat-card class="login-card">
  <mat-card-title class="login-card-title">Login</mat-card-title>
  <div>
    <mat-form-field class="username-form-field">
      <mat-label>Enter Username</mat-label>
      <input matInput [(ngModel)]="user_id" (keyup.enter)="submit()" appAutofocus class="username-input" placeholder="buzz123">
    </mat-form-field>
    <mat-form-field class="username-form-field">
      <mat-label>Enter Profile Image Url</mat-label>
      <input matInput [(ngModel)]="profile_img" (keyup.enter)="submit()" class="username-input" placeholder="http://www.site.com/me">
    </mat-form-field>
    <button mat-raised-button (click)="submit()" class="enter-btn" color="primary">Sign In</button>
  </div>
</mat-card>
