.container {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.user-status-online-icon {
  color: green;
}

.user-status-offline-icon {
  color: gray;
}

.full_width {
  width: 100%;
}

.list_item_container {
  display: flex;
  width: 100%;
  height: 50px;
  align-content: center;
  align-items: center;
  justify-content: flex-start;
}

.list_item {
  display: flex;
}

.space {
  display: flex;
  width: 10px;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.name {
  display: flex;
  align-items: center;
  justify-content: center;
}
