<div class="container">
  <mat-button-toggle-group (change)="conversationChange()" [vertical]="true" class="full_width">

    <mat-button-toggle class="full_width m_height bold">
      You are: {{user_id}}
    </mat-button-toggle>
    <mat-divider></mat-divider>
    <mat-button-toggle class="full_width m_height">
      <input matInput placeholder="Create new group..." style="height: 40px;" [(ngModel)]="group_name" (keyup.enter)="createGroupRoom()">
    </mat-button-toggle>

    <ng-template ngFor let-user let-i="index" [ngForOf]="users">
      <mat-divider></mat-divider>
      <mat-button-toggle class="full_width" (click)="startPrivateChatWith(user.id)">
        <div class="list_item_container">
          <div class="list_item">
            <div class="icon">
              <mat-icon matListIcon
                        [ngClass]="{ 'user-status-online-icon' : user.connected,'user-status-offline-icon' : !user.connected }">
                 album
              </mat-icon>
            </div>
            <div class="space"></div>
            <div class="name">
              {{ user.id }}
            </div>
          </div>
        </div>
      </mat-button-toggle>
    </ng-template>
    <ng-template ngFor let-group let-i="index" [ngForOf]="groups">
      <mat-divider></mat-divider>
      <mat-button-toggle class="full_width m_height" (click)="startGroupChatIn(group.id)">
        <div class="list_item_container">
          <div class="list_item">
            <div class="icon">
              <mat-icon matListIcon
                        [ngClass]="{ 'user-status-online-icon' : group.connected,'user-status-offline-icon' : !group.connected }">
                people
              </mat-icon>
            </div>
            <div class="space"></div>
            <div class="name">
              {{ group.name }}
            </div>
          </div>
        </div>
      </mat-button-toggle>
    </ng-template>
  </mat-button-toggle-group>
</div>
