<div #scrollMe class="container">
  <div class="fix"></div>
  <div #message_divs *ngFor="let message of messages"
       [ngClass]="{ 'msg_right' : message.sender_id == userId, 'message': true }">
    <div class="img_container">
      <div matTooltip="{{message.sender_id}}" [matTooltipPosition]="tooltip_pos" class="img"
           [ngStyle]="{'background-image': 'url(' + getImage(message.sender_profile_img) + ')'}"></div>
    </div>
    <div class="content" [ngClass]="{ 'msg_content_right' : message.sender_id == userId }">
      <div *ngIf="message.type === MESSAGE_TYPES.TEXT">
        {{ message.content }}
      </div>
      <div *ngIf="message.type === MESSAGE_TYPES.FILE">
        <div class="file_msg">
          <div class="file_name">
            {{ message.content }}
          </div>
          <div class="space"></div>
          <div class="download_file">
            <mat-chip-list>
              <mat-chip class="pointer" (click)="requestFile(message.content)">
                <mat-icon color="primary">save_alt</mat-icon>
              </mat-chip>
            </mat-chip-list>
          </div>
        </div>
      </div>
      <div *ngIf="message.type === MESSAGE_TYPES.IMAGE">
        <img style="max-width: 100%;" src="{{getUrl(message)}}">
      </div>
    </div>
  </div>
</div>
<a #download_elem style="display: none;"></a>
