.container {
  display: flex;
  flex-direction: column;

  height: 100%;
  max-height: 100%;
  width: 100%;

  overflow-y: auto;
}

.fix {
  flex: 1;
}

.message {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
  flex: 0 0 auto;
}

.img {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-size: 100% 100%;
  background-repeat: no-repeat;

}

.img_container {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center
}

.content {
  max-width: 70%;
  display: flex;
  background-color: white;
  padding: 10px;
  border-radius: 0 30px 30px 30px;
}

.msg_content_right {
  border-radius: 30px 0 30px 30px;
}

.msg_right {
  flex-direction: row-reverse;
}

.file_msg {
  display: flex;
  align-items: center;
  justify-content: center;
}

.file_name {
  display: flex;
  font-weight: bold;
}

.download_file {
  display: flex;
}

.space {
  width: 10px;
}
