<div class="container">
  <div class="chat_area">
    <app-message-area style="width: 100%; height: 100%;" #message_area></app-message-area>
    <app-emoticons (select)="message_form.addEmoticon($event)"></app-emoticons>
    <app-message-form #message_form></app-message-form>
  </div>
  <app-users-bar (change)="message_area.clearMessages()"></app-users-bar>
</div>

