@import '~src/global_vars.scss';

.container {
  display: flex;
  width: 100%;
  height: 100%;
  max-height: 100vh;
  max-width: 100%;
}

.chat_area {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100vh;
  max-height: 100vh;
  align-items: stretch;
}

app-message-area {
  display: flex;
  width: 100%;
  background-color: $accent-light;
  flex: 1;
}

app-message-form {
  display: flex;
  width: 100%;
  height: 100px;
  background-color: lightgray;
}

app-users-bar {
  display: flex;
  background-color: whitesmoke;
  height: 100vh;
  width: 20%;
}


