@import '~@angular/material/theming';

@include mat-core();

$mat-guinda: (
  50: #ffcdd2,
  100: #ef9a9a,
  200: #e57373,
  300: #ef5350,
  400: #f44336,
  500: #e53935,
  600: #d32f2f,
  700: #c62828,
  800: #77455a,
  900: #7e0000,
  A100: #ff8a80,
  A200: #ff5252,
  A400: #ff1744,
  A700: #d50000,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: white,
    800: $white-87-opacity,
    900: $white-87-opacity,
    A100: $black-87-opacity,
    A200: white,
    A400: white,
    A700: white,
  )
);

$app-primary: mat-palette($mat-guinda, 900, 800, 900);
$app-accent: mat-palette($mat-gray, 900, 800, 900);
$app-warn: mat-palette($mat-yellow, A700, 400, 700);

$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

@include angular-material-theme($app-theme);

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

.bold {
  font-weight: bold;
}

.not_selectable {
  user-select: none;
}

.pointer {
  cursor: pointer;
}

body {
  background-color: mat-color($app-accent);
}
