<div class="container">
  <mat-accordion>
    <mat-expansion-panel [hideToggle]="true">
      <mat-expansion-panel-header>
        <!--<mat-panel-title>
          Show Emoticons List
          &lt;!&ndash;<mat-icon>mood</mat-icon>&ndash;&gt;
          <mat-icon>sentiment_satisfied_alt</mat-icon>
        </mat-panel-title>-->

        <mat-panel-description>
          Show Emoticons List
          <!--<mat-icon>mood</mat-icon>-->
          <mat-icon>sentiment_satisfied_alt</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div class="emoticon_container">
        <div (click)="emitSelectedEmoticon(code)" class="emoticon pointer not_selectable"
             *ngFor="let code of emoticons">
          {{code}}
        </div>
      </div>
    </mat-expansion-panel>

  </mat-accordion>
</div>
