.container {
  width: 100%;
  height: 100%;
}


mat-panel-description {
  display: flex;
  justify-content: space-between;
}

mat-panel-title {
  display: flex;
  justify-content: space-between;
}

.emoticon_container {
  display: flex;
  width: 100%;
  max-height: 150px;
  font-size: 30px;
  flex-wrap: wrap;
  overflow-y: auto;
}

.emoticon {
  display: flex;
  width: 40px;
  height: 40px;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin: 5px;
}
