<div class="container">
    <!--<div class="menu_container">
      <div class="menu">
        <div class="send_btn">
          <button mat-mini-fab (click)="showEmoticons()">
            <mat-icon>sentiment_satisfied_alt</mat-icon>
          </button>
        </div>
      </div>
    </div>-->
    <div class="text_area">
      <mat-form-field>
      <textarea (keyup.enter)="sendMessage()" [(ngModel)]="message" matInput placeholder="Message...">
      </textarea>
      </mat-form-field>
    </div>
    <div class="menu_container">
      <div class="menu">
        <div class="send_btn">
          <button mat-mini-fab color="accent" (click)="inputFile.click()">
            <mat-icon>attach_file</mat-icon>
          </button>
          <input #inputFile type="file" style="display: none;">
        </div>
        <div class="space"></div>
        <div class="send_btn">
          <button mat-mini-fab (click)="sendMessage()" color="primary">
            <mat-icon>send</mat-icon>
          </button>
        </div>
      </div>
    </div>
</div>
