.container {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

mat-form-field {
  width: 95%;
}

.text_area {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 25;
  height: 100%;
}

.send_btn {
  display: flex;
}

.menu_container {
  height: 100%;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.menu {
  display: flex;
  width: 80%;
  justify-content: space-between;
}

.space {
  width: 10px;
}

textarea {
  font-size: 20px;
}
